# .env
PG_HOST=host.docker.internal
PG_PORT=5112
PG_DB=meetingDatabase
PG_USER=kirkgriffin
PG_PASS=kiseryota@07

MONGO_URI=mongodb://root:rootPassword@host.docker.internal:27111
MONGO_DB=meetingDatabase

# Instructions for customization:
# Replace the following placeholders with your actual values:
# <3000 - 9999>  : Choose an available port number in this range
# <mydatabase>   : Your database name (same name for both PostgreSQL and MongoDB)
# <user>         : Your database username
# <password>     : Your database password (use a strong password)
#
# Note: host.docker.internal is used to connect to services on the host machine from inside Docker containers
